
body {
	font-size: 12px;
}
a, a:visited, a:hover {
	color:#666; text-decoration:none;
}
a:hover {
	text-decoration: underline;
}
.myTable {
	margin: 20px 0 20px 0;
}
.displaynone {
	display:none;	
}
input, select, textarea{
	font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
}
input {
	behavior: url(/ais/styles/main/input.htc);;
	font-family: ו;
	font-size: 9pt;
	padding-top: 1px;
	border: 1pt solid #99cccc;
	text-indent: 1px;
}

.ListTable {
	background-color: #7CA4E9;
	font-size: 12px;
	border: 0px;
	width: 97%;
	margin: 20px 0 20px 0;
}

.ListTableFile {
	background-color: #7CA4E9;
	font-size: 12px;
	border: 0px;
	width: 97%;
	margin: 0px;
}

.ListTableFile1 {
	background-color: #7CA4E9;
	border-collapse: collapse;
	font-size: 12px;
	border: 0px;
	width: 97%;
	margin-top: -4;
	margin-bottom: -4;
}

.EditHead {
	background-image: url(../../images/ais/bg1a.jpg);
	background-repeat: repeat;
	height: 26px;
	text-align: left;
	vertical-align: middle;
	font-size: 12px;
	font-family: "simsun";
	font-weight: bold;
	color: #007FFF;
	background-repeat: repeat;
}

.EditHead1 {
	background-image: url(../../images/ais/bg1a.jpg);
	background-repeat: repeat;
	height: 26px;
	text-align: center;
	font-size: 12px;
	font-family: "simsun";
	font-weight: bold;
	color: #007FFF;
	background-repeat: repeat;
}

.ListTableTr1 {
	BACKGROUND-COLOR: #F5F5F5;
	height: 20;
	vertical-align: middle;;
	padding: 2px 4px 2px 4px;
	text-align: left;
	vertical-align: top;
}

.ListTableTr11 {
	BACKGROUND-COLOR: #F5F5F5;
	width: 15%;
	height: 20;
	vertical-align: middle;
	text-align: right;
}

.ListTableTr111 {
	BACKGROUND-COLOR: #F5F5F5;
	width: 18%;
	height: 20;
	vertical-align: middle;;
}

.ListTableTr11A {
	BACKGROUND-COLOR: #F5F5F5;
	width: 15%;
	height: 20;
	vertical-align: middle;
	text-align: right;
}

.ListTableTr11B {
	BACKGROUND-COLOR: #F5F5F5;
	width: 10%;
	height: 20;
	vertical-align: middle;
	text-align: right;
}

.ListTableTr2 {
	BACKGROUND-COLOR: #ffffff;
	height: 20;
	padding-left: 5px;
}

.ListTableTr22 {
	BACKGROUND-COLOR: #ffffff;
	width: 35%;
	height: 20;
	padding: 2px 4px 2px 4px;
	text-align: left;
	vertical-align: top;
}

.ListTableTr3 {
	BACKGROUND-COLOR: #ffffff;
	height: 20;
	padding-left: 5px;
}

.titletable1 {
	background-color: #EEF7FF;
}