  .searchtable  {
	background-color: white;
	border: 1px solid #A9B9CD;
	border-bottom: 1px solid silver;
	
}
.igGridHeader {
	background-color: #CC0066;
	border-bottom: 1px solid #C1C1C1;
	background-image:url(igwg_gridheader.gif);
	background-position:center;
	font-weight: bold;
	padding: 5 10 5 10;	
	color : #052684;
        text-align:center; 
}
.igGridColumnHeader {
    background-color: #e6e6e6;
	border-bottom: 1px solid #C1C1C1;
	padding: 5 10 5 10;	
	font-weight: bold;
	text-align: left;
	color : #052684;
	align:center;
}
.igGridRow {
}
.igGridRowHover {
	/*background-color: #f1f1f1;*/
	background-image:url(igwg_rowhover.gif);
	background-position:center;
	background-repeat:repeat-x;
	border: 1px solid #FF0000;
}